# Terraform variable files
terraform.tfvars
*.tfvars

# Private key files
*.pem
*.key

.terraform
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
xxx.recap.md
xxx.agent.rule.md
xxx.exception.rule.md

# me.terraform.lv2